<h2>Please Log in to Chat Server: </h2>
<form action="/enter_chat" name="submit" method="post">
Username: <input type="text" name="user" /> <br />
Password: <input type="password" name="password" /> <br />
<input type="submit" value="submit" />

<a href="/register">Register</a>
<a href="/forgot">Forgot Password?</a>
</form>