<form action="/reg_success" method="post">
Enter Full Name: <input type="text" name="full_name" /> <br />
Enter Email: <input type="text" name="email" /> <br />
Enter Password: <input type="password" name="pass" /> <br />
ReEnter Password: <input type="password" name="repass" /> <br />
<input type="submit" />
</form>
