<h1>Congratulations, Your account has been created with following information!</h1>
<p>Full Name: <%= fullName%> </p>
<p>Email: <%= email%></p>
<p>Please <a href="/">Sign in </a> with your new account.</p>