<form action="/update_success" method="post">
Enter Full Name: <input type="text" name="full_name" value="<%-fullname%>" /> <br />
Enter Email: <input type="text" name="email" value="<%-email%>" /> <br />
Enter Password: <input type="password" name="pass" /> <br />
ReEnter Password: <input type="password" name="repass" /> <br />
<input type="submit" />
<a href="/delete_profile">Delete Profile</a>
</form>
