#chatContainer {
	width: 400px;
	border: 1px solid;
}
#log {
	margin-bottom: 100px;
	width: 100%;
	height: 100px;
}
#log ul {
	padding: 0px;
	margin: 0px;
}
#log ul li{
	list-style-type: none;
}

#console textarea {margin-left: 1%; width: 80%;height: 100px;}
#console button {width: 16%; height: 60px;}
.profile {float: right}